name: CI | Pack - Pull Request

on:
  pull_request:
    branches:
      - "main"
    paths:
      - "MultiVersions/**"
  workflow_dispatch: {}

permissions:
  contents: write

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  matrix-setup:
    name: Setup Matrix
    if: github.repository == 'xMikux/ModsTranslationPack'
    uses: ./.github/workflows/Reusable-MatrixSetup.yml

  pack-pullrequest:
    name: Pack ${{ matrix.version }}
    runs-on: ubuntu-latest
    needs: [ matrix-setup ]

    strategy:
      matrix: ${{ fromJson(needs.matrix-setup.outputs.matrix) }}
    
    steps:
      - name: Testing
        run: |
          echo ${{ matrix.version }}
