name: Release Me

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  release-please:
    name: Release Please
    runs-on: ubuntu-latest
    steps:
      - name: Release Please
        id: release_please
        uses: google-github-actions/release-please-action@v3
        with:
          release-type: simple
          pull-request-title-pattern: "chore${scope}: 發佈${component} ${version}"
          labels: "自動發佈：待定"
          release-labels: "自動發佈：已發佈"
          changelog-types: '[{"type":"feat","section":"新增翻譯 & 內容","hidden":false},{"type":"fix","section":"修正翻譯 & 專案","hidden":false},{"type":"chore","section":"清理翻譯 & 專案","hidden":false},{"type":"ci","section":"自動化 Action","hidden":false},{"type":"docs","section":"文檔更新","hidden":false}]'

    outputs:
      release_created: ${{ steps.release_please.outputs.release_created }}
      tag_name: ${{ steps.release_please.outputs.tag_name }}
  
  release-it:
    name: Release It
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - name: Checking Repostiory
        uses: actions/checkout@v2.0.0
        with:
          ref: ${{ needs.release-please.outputs.tag_name }}
          fetch-depth: 0

      - name: Auto Version Change
        id: version
        run: |
          sed -i 's/6GitVersion/f${{ needs.release-please.outputs.tag_name }}/1' pack.mcmeta

      - name: Override mods
        run: |
          echo "Override Create..."
          PATH_Create=assets/create/lang
          mkdir -p $PATH_Create
          wget https://raw.githubusercontent.com/Creators-of-Create/Create/mc1.18/dev/src/main/resources/assets/create/lang/zh_tw.json -P $PATH_Create

          echo "Override BlossomHomes..."
          PATH_BlossomHomes=assets/blossom-homes/lang
          mkdir -p $PATH_BlossomHomes
          wget https://raw.githubusercontent.com/BlossomMods/BlossomHomes/main/src/main/resources/data/blossom/lang/zh_tw.json -P $PATH_BlossomHomes

          echo "Override ProjectE..."
          PATH_ProjectE=assets/projecte/lang
          mkdir -p $PATH_ProjectE
          mkdir workdir
          cd workdir
          wget $(wget -qO - "https://www.mediafire.com/file/cso2r6ok1mu3ujw/ProjectE-1.19.2-PE1.0.0B-tw.jar" > /dev/stdout | grep 'id="downloadButton"' | grep -Po '(?<=href=")[^"]*')
          $JAVA_HOME_17_X64/bin/jar xf ProjectE-1.19.2-PE1.0.0B-tw.jar assets/projecte/lang/zh_tw.json
          cd ..
          cp workdir/assets/projecte/lang/zh_tw.json $PATH_ProjectE/
          rm -r workdir

          echo "Override BloodMagic..."
          mkdir workdir
          cd workdir
          sudo apt-get update
          sudo apt-get install -y megatools
          echo "Small Info:"
          echo "The original download link is https://mega.nz/file/KR0CQC5Z#MkEdb3M5q9FHLIgY7WLE18T8EqKFMVUd1guryQWdTQc"
          echo "But megatools look like don't know what is this"
          echo "This fix I see from https://github.com/megous/megatools/issues/157#issuecomment-615835778"
          megadl 'https://mega.nz/#!KR0CQC5Z!MkEdb3M5q9FHLIgY7WLE18T8EqKFMVUd1guryQWdTQc'
          unzip 1.18\ BloodMagic-zh_tw-v2.zip
          cd ..
          mv workdir/assets/bloodmagic assets
          rm -r workdir
          echo "Fix error space"
          sed -i 's/	//1' assets/bloodmagic/patchouli_books/guide/zh_tw/entries/altar/soul_network.json

      - name: Make ModsTranslationPack (1.19.x)
        uses: ComunidadAylas/PackSquash-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          force_include_files: LICENSE
          never_store_squash_times: true
          path: ./

      - name: DownloadArtifact (1.19.x)
        uses: actions/download-artifact@v2
        with:
          name: Optimized pack
          path: ./

      - name: Rename ModsTranslationPack (1.19.x)
        run: |
          mv ./pack.zip ModsTranslationPack-1.19.x.zip

      - name: Change pack format to 1.18.x
        run: |
          sed -i 's/9/8/1' pack.mcmeta

      - name: Make ModsTranslationPack (1.18.x)
        uses: ComunidadAylas/PackSquash-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          force_include_files: LICENSE
          never_store_squash_times: true
          path: ./

      - name: DownloadArtifact (1.18.x)
        uses: actions/download-artifact@v2
        with:
          name: Optimized pack
          path: ./

      - name: Rename ModsTranslationPack (1.18.x)
        run: |
          mv ./pack.zip ModsTranslationPack-1.18.x.zip

      - name: Delete Artifact
        uses: geekyeggo/delete-artifact@v1
        with:
          name: |
            Optimized pack

      - name: Make Checksum
        id: checksum
        run: |
          SUM0=$(sha256sum ModsTranslationPack-1.19.x.zip)
          SUM1=$(sha256sum ModsTranslationPack-1.18.x.zip)
          echo -e "$SUM0\n$SUM1" > checksums.txt

      - name: Upload ModsTranslationPacks
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.release-please.outputs.tag_name }}
          files: |
            *.zip
            checksums.txt
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to Modrinth
        uses: Kir-Antipov/mc-publish@v3.2
        with:
          modrinth-id: cF5VXmkW
          modrinth-unfeature-mode: subset
          files-primary: "*.zip"
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
