name: Scripts Test

on:
  workflow_dispatch: {}

permissions:
  contents: read
  pull-requests: read

jobs:
  script-test:
    name: Script Test
    runs-on: ubuntu-latest
    if: github.repository == 'xMikux/ModsTranslationPack'
    steps:
      - name: Checking Repostiory
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Testing OverrideScript
        run: .github/scripts/override_mods.sh
