name: Reusable | Upload R2

on:
  workflow_call:
    inputs:
      pr_number:
        required: true
        type: string
    secrets:
      CF_S3_BUCKET:
        required: true
      CF_ACCESS_KEY_ID:
        required: true
      CF_SECRET_ACCESS_KEY:
        required: true
      CF_S3_ENDPOINT:
        required: true

jobs:
  r2-uplaod:
    name: Upload R2
    runs-on: ubuntu-latest

    steps:
      - name: Download All Artifact
        uses: actions/download-artifact@v3

      - name: Move Artifacts Files
        run: |
          mkdir -p pr/${{ inputs.pr_number }}
          for i in ModsTranslationPack-*
          do
            cd "$i" || exit 1
            sha256sum -c checksum.txt
            mv ModsTranslationPack-*.zip ../pr/${{ inputs.pr_number }}/
            cd ..
          done

      - name: Upload to R2
        uses: Docker-Collection/docker-aws-s3-action@main
        with:
          aws_s3_bucket: ${{ secrets.CF_S3_BUCKET }}
          aws_access_key_id: ${{ secrets.CF_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.CF_SECRET_ACCESS_KEY }}
          aws_s3_endpoint: ${{ secrets.CF_S3_ENDPOINT }}
          source_dir: "pr/${{ inputs.pr_number }}/"
          dest_dir: "pr/${{ inputs.pr_number }}/"
          aws_command: "sync"
